@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-outline: #6d758c;
  --color-tertiary-container: #f8a010;
  --color-secondary-dim: #58e7ab;
  --color-error-dim: #d73357;
  --color-on-tertiary-fixed: #2a1700;
  --color-tertiary: #ffb148;
  --color-inverse-on-surface: #4d556b;
  --color-inverse-primary: #6e3bd7;
  --color-primary-fixed: #ae8dff;
  --color-error: #ff6e84;
  --color-secondary-fixed: #69f6b8;
  --color-tertiary-fixed-dim: #e79400;
  --color-surface-container-high: #141f38;
  --color-outline-variant: #40485d;
  --color-on-error-container: #ffb2b9;
  --color-on-primary: #39008c;
  --color-surface-bright: #1f2b49;
  --color-surface-container: #0f1930;
  --color-primary: #ba9eff;
  --color-secondary-fixed-dim: #58e7ab;
  --color-on-error: #490013;
  --color-on-secondary-fixed-variant: #006544;
  --color-tertiary-dim: #e79400;
  --color-on-tertiary: #573500;
  --color-surface-container-highest: #192540;
  --color-surface-dim: #060e20;
  --color-on-surface-variant: #a3aac4;
  --color-inverse-surface: #faf8ff;
  --color-on-tertiary-container: #4a2c00;
  --color-on-secondary: #005a3c;
  --color-on-secondary-fixed: #00452d;
  --color-tertiary-fixed: #f8a010;
  --color-primary-fixed-dim: #a27cff;
  --color-on-tertiary-fixed-variant: #563400;
  --color-primary-dim: #8455ef;
  --color-on-secondary-container: #e1ffec;
  --color-surface-tint: #ba9eff;
  --color-secondary-container: #006c49;
  --color-background: #060e20;
  --color-surface-container-lowest: #000000;
  --color-surface-container-low: #091328;
  --color-primary-container: #ae8dff;
  --color-on-surface: #dee5ff;
  --color-on-primary-container: #2b006e;
  --color-on-background: #dee5ff;
  --color-secondary: #69f6b8;
  --color-on-primary-fixed: #000000;
  --color-surface-variant: #192540;
  --color-on-primary-fixed-variant: #370086;
  --color-error-container: #a70138;
  --color-surface: #060e20;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-panel {
  backdrop-filter: blur(24px);
  background: rgba(31, 43, 73, 0.6);
}

.code-syntax-var { color: var(--color-tertiary); }
.code-syntax-string { color: var(--color-secondary-dim); }
.code-syntax-keyword { color: var(--color-primary); }

@layer utilities {
  .prose-invert :where(p) {
    color: var(--color-on-surface);
  }
}
