langchain
langchain-groq
pydantic
langgraph
python-dotenv
fastmcp
beautifulsoup4
httpx
readability-lxml
youtube-search-python
youtube-transcript-api
langchain-exa
yt-dlp
trafilatura
newspaper3k
fastapi
uvicorn
gunicorn
python-multipart
